
<%= form_with model: [post, comment, reply, reply.replies.build], url: post_comment_replies_path(reply, comment, post ) do |form| %>
  <%= form.hidden_field :parent_id, reply.parent_id %>

  <p style="margin-left: 1rem;">
    <%= form.text_area :body %>
  </p>

  <p style="margin-left: 1rem;">
    <%= form.submit "Reply", class: "btn btn-outline-success" %>
  </p>
<% end %>

