<% comments.each do |comment| %>
  <div>
    <p style="margin-left: <%= comment.replies.any? %> '3rem' : '2rem' %>;">
      <%= comment.body %>
      <% if comment.parent_comment_id.present? || comment.id.present? %>
        <a href="#" class="comment-form-display">reply</a> 
        <%= render partial: 'comments/form', locals: { post: comment.post, parent_comment: comment } %>
      <% end %>
    </p>
  </div>
<% end %>
