
<%= form_with model: [ post, post.comments.build ] do |form| %>
  
  <p style="margin-left: 1rem;">
    <%= form.text_area :body %>
  </p>
  <p style="margin-left: 1rem;">
    <%= form.submit "comment", class:"btn btn-outline-success" %>
  </p>
<% end %>

